<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="itwillbs.p2c3.class_will.mapper.ChatMapper">
	
	<select id="selectMemberInfo" resultType="member">
		SELECT *
		  FROM MEMBER
		 WHERE member_code = #{member_code}
	</select>
		
	
	
</mapper>