@charset "UTF-8";

.searchBox{
	height: 34px;
	width: 100px;
	margin-top: 5px;
	text-align:center;
}
.creator-class-searchBox{
	border-top-right-radius:10px; 
	border-top-left-radius:10px; 
}
.input-form {
	max-width: 680px;
	margin-top: 80px;
	padding: 32px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.classReg-basic, .classReg-calc, .classReg-calc-form, .classReg-creator-info, .classReg-basic-form{
	padding: 20px;
	border-radius: 10px;
}
.classReg-basic{
	background: white;
}
.classReg-basic-form{
	border: 1px solid lightgray;
}
.classReg-calc{
	background: white;	
}
.h4, .h6{
	color: black;
}
label{
	color: black;	
/* 	margin-top: 5px; */
}
.classReg-calc-form{
/* 	background: white; */
	border: 1px solid lightgray;
	border-radius: 10px;
}
.classReg-calc-form > p{
	color: black;
}
.classReg-creator-info{
	background: white;
}


#item-list {
    display: flex;
    flex-wrap: wrap;
}

.item {
/*     flex: 0 1 calc(20% - 10px); 5개를 한 줄에 표시, 사이 간격을 고려하여 크기 조정 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기를 계산 */
    padding: 0px 10px;
    margin: 5px;
/*     border: 1px solid #ddd; */
    border: none;
    cursor: pointer;
    user-select: none; /* Prevent text selection on double click */
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    line-height: 30px;
}
.hashtag {
/*     flex: 0 1 calc(20% - 10px); 5개를 한 줄에 표시, 사이 간격을 고려하여 크기 조정 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기를 계산 */
    padding: 0px 10px;
    margin: 5px;
/*     border: 1px solid #ddd; */
    border: none;
    cursor: pointer;
    user-select: none; /* Prevent text selection on double click */
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    line-height: 30px;
}

.item.selected {
    background-color: #b3d4fc;
}
.hashtag.selected {
    background-color: #b3d4fc;
}
 .form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.form-control {
    margin-right: 10px;
    flex-grow: 1;
}
.note-editable {
    background-color: #f5f5f5; /* 원하는 색상으로 변경 */
}
 .button-container {
    display: flex;
    flex-wrap: wrap;
}
.button-wrapper {
    position: relative;
    margin: 5px;
}
.remove-button {
    position: absolute;
    top: -5px;
    right: -5px;
    display: none;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.button-wrapper:hover .remove-button {
    display: block;
}
.dynamic-input {
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기를 계산 */
    padding: 0px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    user-select: none; /* Prevent text selection on double click */
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    line-height: 30px;
    border: 1px solid black;
    width: 100px;
}
#add-input-button{
	background: black;
	color: white;
	border: none;
	border-radius: 5px;
}
